<% if @goal.present? %>
  <p>総達成回数：<%= @goal.checkin_count %>回</p>

  <% if @goal.checkins.exists?(checked_on: Date.current) %>
    <p><%= t('.achieved') %></p>
  <% else %>
    <%= button_to t('.button'), checkins_path(goal_id: @goal.id), method: :post %>
  <% end %>

<% else %>
  <p><%= t('.create') %></p>
<% end %>